<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MemoryExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MemoryExplorer.Properties.Settings>
            <setting name="Test" serializeAs="String">
                <value>"Hello Mark"</value>
            </setting>
            <setting name="TestList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>first entry</string>
                        <string>second entry</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MRU" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>empty</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProfileCacheLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="bUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </MemoryExplorer.Properties.Settings>
    </userSettings>
</configuration>